/* styles.css */
@tailwind base;
@tailwind components;

body {
  /* Light mode styles */
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  /* Dark mode styles */
  background-color: #1a1a1a;
  color: #ffffff;
}

@tailwind utilities;
